html {
      box-sizing: border-box;
    }

    *,
    *::before,
    *::after {
      box-sizing: inherit;
      margin: 0;
      padding: 0;
    }

    body {
      background-color: hsl(257, 40%, 49%);
      background-image: url(images/bg-mobile.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    img {
      display: block;
    }

    header {
      margin-top: 30px;
    }

    header img {
      width: 150px;
      margin-left: 10%;
    }

    main {
      margin-top: 50px;
    }


    .illustrator {
      max-width: 600px;
      min-width: 350px;
      margin: auto;
    }

    section > *{
      width: 80%;
      margin: auto;
    }

    .content-details {
      max-width: 600px;
    }

    .content-details > * {
      text-align: center;
      margin-top: 5%;
    }

    .social-media {
      margin-top: 10%;
    }


    h1, p {
      font-family: 'Poppins', sans-serif;
      color: white
    }

    h1 {
      font-weight: 600;
    }

    p {
      font-size: 11px;
      font-weight: 400;
    }

    button {
      display: block;
      width: 200px;
      height: 30px;
      border: none;
      border-radius: 30px;
      margin: auto;
    }


    a {
      text-decoration: none;
      display: inline-block;
    }

    button a {
      width: 100%;
      height: 30px;
      padding-top: 7px;
    }
    .attribution a {
      color: hsl(228, 45%, 44%);
    }

    .approach {
      list-style: none;
      width: 30%;
      margin: auto;
      display: flex;
      justify-content: space-evenly;
    }

    .approach a {
      color: white;
      border: 1px solid white;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      padding-top: 5px;
      text-align: center;
    }

    footer .attribution a {
      color: white;
    }
    
    @media screen and (min-width: 700px) {

      header img {
        margin-left: 5%;
      }


      main {
        display: flex;
        align-items: center;
        margin-top: 100px;
      }

      .content {
        flex: 1 0 50%;
      }

      .social-media {
        margin-right: 0;
      }

      .approach {
        margin-right: 0;
      }
    }
